li{
    display: inline;
    overflow: hidden;
    padding: 14px 17px;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 200px;
    overflow: hidden;

}
.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 50px;
}
ul li:hover{
    color: blue;
}
.list{
    /* border: 1px solid blue; */
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 20px;
}
.list:hover{
    background-color: rgb(0, 128, 255);
    color: white;
    padding: 30px;
}
.box1{
    width: 100%;
    background-color: rgba(75, 75, 245, 0.904);
    height: 800px;
    border-radius: 0px 0px 180px 180px;
color: white;
text-align: center;
}
.box1 h1{
    font-weight: bolder;
    padding-top:150px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box1 p{
font-size: 35px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 20px;
}
.box1 button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;

}
.box1 button:hover{
    background-color:rgba(0, 128, 255, 0.48) ;
    font-weight: bolder;
    font-style: italic;
}
.img-box{
    background-color: white;
    width: 50%;
    margin-top: -90px;
    margin-left: 550px;
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 20PX;
    height: 300PX;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.paragraph{
    margin-left: 130px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.paragraph h2{
    font-size: 50px;
}
.paragraph h2::marker{
    color: blue;
    height: 20px;
    width: 5%;
    border: 1px solid blue;
}
.paragraph button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.paragraph button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}
.img{
    
    margin-top: 50px;
    margin-right: 30px;
}
.paragraph2 h2{
    font-size: 50px;
}
.paragraph2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph2 button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.paragraph2 button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}
.mid{
    text-align: center;
    margin-top: 20px;
}
.mid h1{
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mid p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
}
.mid button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.mid button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}
.box01{
    height: 400px;
    border: 1px solid rgb(107, 12, 107);
    text-align: center;
    width: 40%;
    background-color:rgb(107, 12, 107) ;
    font-size: 30px;
    color: white;
    border-radius: 40px;
    padding: 40px;
}
.box01 h2{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box01 button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.box01 button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}
.box02{
    height: 400px;
    border: 1px solid rgb(12, 91, 107);
    text-align: center;
    width: 40%;
    background-color:rgb(12, 91, 107);
    font-size: 30px;
    color: white;
    border-radius: 40px;
    padding: 40px;
}
.box02 h2{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box02 button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.box02 button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}
.box03{
    height: 400px;
    border: 1px solid rgb(12, 107, 28);
    text-align: center;
    width: 40%;
    background-color:rgb(12, 107, 28);
    font-size: 30px;
    color: white;
    border-radius: 40px;
    padding: 40px;
}
.box03 h2{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box03 button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.box03 button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}
.box04{
    height: 400px;
    border: 1px solid rgb(107, 12, 58);
    text-align: center;
    width: 40%;
    background-color:rgb(107, 12, 58);
    font-size: 30px;
    color: white;
    border-radius: 40px;
    padding: 40px;
}
.box04 h3{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box04 button{
    background-color:rgb(71, 71, 172) ;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.box04 button:hover{
    background-color:rgba(8, 124, 240, 0.932) ;
    font-weight: bolder;
    font-style: italic;
}